$color_hightlight: #399bd1;
$color_background: #f3f3f3;

html{
  font-size: 14px;
}

body{
  font-family: "Open Sans", sans-serif;
}

.highlighted{
  color: $color_hightlight;
}

// IMAGE in/and CONTAINER
.image-container {
  overflow: hidden;

  img{
    opacity: 0.6;
    //es muss alles in einem angegeben werden, sonst ruckt es :(
    transition: transform 0.5s, opacity 0.5s;

    &:hover{
      opacity: 1;
      transform: scale(1.3, 1.3);
    }
  }
}

img {
  width: 100%;
}

//overwrite bootstrap button (using 'button' for this rule won't work!)
.btn.btn-primary.btn-lg {
  width: 11.4rem;
  padding: 1.3rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: $color_hightlight ;
  &:hover{
    background-color: $color_hightlight ;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  }
  &:active{
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  }
}

// NAVIGATION
nav{
  font-weight: bold;
  font-size: 1.1rem;
}

//und hier gilt das selbe, damit es funktioniert
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: $color_hightlight;
}

// JUMBOTRON
.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

   h1 {
     font-family: 'Monoton', cursive;
     text-transform: uppercase;
     font-size: 7.1rem;
   }

   p {
     width: 51.3rem;
     margin: auto;
     padding-bottom: 8rem;
  }
}

@media only screen and (max-width: 800px) {
  .jumbotron{
    h1{
      font-size: 5.7rem;
    }
    p{
      width: auto;
      padding-bottom: 5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron{
    h1{
      font-size: 4.5rem;
    }
    p{
      width: auto;
      padding-bottom: 3rem;
    }
  }
}

.jumbotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer{
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers{
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel{
  background-image: url("../images/jumbotron-duffel.jpg");
}


// SECTIONS
section{
  h2{
    padding: 20px 0;
    color: $color_hightlight;
    font-weight: bold;
    font-size: 1.7rem;
  }

  h3{
    font-weight: bold;
  }
}

// FOOTER
footer{
  background-color: $color_background;
  text-align: center;
  padding: 5.2rem;

  h1{
    font-size: 2.5rem;
    font-weight: bold;
  }

  p{
    width: 42rem;
    padding: 1.4rem;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  footer p{
    width: auto;
    padding-bottom: 3rem;
  }
}
